        <!-- 
        ================================================== 
            First Section Start
        ================================================== -->
        <section class="company-description" id="about_me">
            <div class="container" style="margin-top: 10em;">
<div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-outer">
                        <h2 class="heading" style="align-content: center; padding-left: 5%;">Read The Only Newspaper on Design, User Experience and HCI </h2>
                        <!--<p><a class="more-link" href="resources/UX2DAY_MXXVIII.pdf" target="_blank"><i class="fa fa-download"></i> UX2DAY NEWS - 06 May 2018(PDF)</a></p>
                        
                        
                        <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green animated" data-wow-delay=".9s" href="#/portfolio" data-section="" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">View Works</a>
                        -->
                        
                        <div class="content">
                        <div class="featured-image">
                                    <!--<a href="resources/UX2DAY_MXXIX.pdf" download ><img class="img-responsive project-image" src="images/portfolio/About/UX2DAY_0605.png" alt="UX2DAY" width="100%" height="auto" style="margin:0 auto;"></a>-->
                            
                            <embed src="resources/UX2DAY_MXXIX.pdf" width="100%" height="1150 em" />
                        </div>
                            

                         
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->

        
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                
		 <!--  -->
		
		    
		    <aside class="list conferences aside section">
                    <div class="section-inner">
                        <h2 class="heading">Previous Editions</h2>
                        <div class="content">
                            
                            <p><a class="more-link" href="resources/UX2DAY_MXXVIII.pdf" target="_blank"><i class="fa fa-download"></i> UX2DAY NEWS - 05 May 2018(PDF)</a></p>
				  
                    <p><a class="more-link" href="resources/UX2DAY_MXXVII.pdf" target="_blank"><i class="fa fa-download"></i> UX2DAY NEWS - 04 May 2018(PDF)</a></p>
				            <p><a class="more-link" href="resources/UX2DAY_MXXVI.pdf" target="_blank"><i class="fa fa-download"></i> UX2DAY NEWS - 03 May 2018(PDF)</a></p>
				            <p><a class="more-link" href="resources/UX2DAY_MXXV.pdf" target="_blank"><i class="fa fa-download"></i> UX2DAY NEWS - 02 May 2018(PDF)</a></p>
			                 <p><a class="more-link" href="resources/UX2DAY_MXXIV.pdf" target="_blank"><i class="fa fa-download"></i> UX2DAY NEWS - 01 May 2018(PDF)</a></p>
			                 <p><a class="more-link" href="resources/UX2DAY_MXXIII.pdf" target="_blank"><i class="fa fa-download"></i> UX2DAY NEWS - 30 April 2018(PDF)</a></p>
			                 <p><a class="more-link" href="resources/UX2DAY_MXXII.pdf" target="_blank"><i class="fa fa-download"></i> UX2DAY NEWS - 29 April 2018(PDF)</a></p>	
			                 <p><a class="more-link" href="resources/UX2DAY_MXXI.pdf" target="_blank"><i class="fa fa-download"></i> UX2DAY NEWS - 28 April 2018(PDF)</a></p>
                            <p><a class="more-link" href="resources/UX2DAY_MXX.pdf" target="_blank"><i class="fa fa-download"></i> UX2DAY NEWS - 27 April 2018(PDF)</a></p>
			                 <p><a class="more-link" href="resources/UX2DAY_MXIX.pdf" target="_blank"><i class="fa fa-download"></i> UX2DAY NEWS - 26 April 2018(PDF)</a></p>
			                 <p><a class="more-link" href="resources/UX2DAY_MXVIII_01.pdf" target="_blank"><i class="fa fa-download"></i> UX2DAY NEWS - 25 April 2018(PDF)</a></p>
                                  
			
		            
			</div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
		    
		    
		    
                
                
              
            </div><!--//secondary-->    
        </div>
            </div>
        </section>
