        <!-- 
        ================================================== 
            First Section Start
        ================================================== -->
        <section class="company-description" id="about_me">
            <div class="container" style="margin-right: 0;padding-right: 0">
               
                        
                    <div class="row" style="margin-left: -8em">
                        <div class="primary col-md-12 col-sm-12 col-xs-12">
                            <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/TopHead.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                        </div>
                        <div class="primary col-md-8 col-sm-12 col-xs-12">
                              <h3 class="title" style="font-weight:500; font-size: 4em; color:#208C77; margin-top:-4em; margin-left: 3em;">Scheduling Autorun of Reports - Global Dashboard</h3> 
                        </div>
                    </div>
                
                     <div class="row" >
                        
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                              <h3 class="title" style="font-weight:800; font-size: 4em; color:#E8E8E8">CONTENTS</h3>
                            <ol style="font-size: 1.5em; font-weight:300; color:#4A4A4A">
                                <li>Tim's Story</li>
                                <li>Problem Space</li>
                                <li>Research</li>
                                <li>Ideation</li>
                                <li>Prototyping</li>
                                <li>Usability Testing</li>
                                <li>Icon Concept</li>
                            </ol>
                        </div>
                         <div class="primary col-md-8 col-sm-12 col-xs-12">
                            <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Ideas.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                        </div>
                    </div>
                
                    <div class="row" style="margin-top: 3em" >
                        
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                             
                        </div>
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                             
                        </div>
                         <div class="primary col-md-4 col-sm-12 col-xs-12">
                             <h3 class="title" style="font-weight:800; font-size: 4em; color:#E8E8E8">TIM'S STORY</h3>
                        </div>
                    </div>
                <div class="row" style="margin-left: -8em" >
                    
                     <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Timstory11.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                        </div>
                    <div class="primary col-md-4 col-sm-12 col-xs-12" style="align-content: center; ">
                          <div class="section-inner" style="margin-top: 10em;margin-right: 5em">
                        <div class="content">
                            <p>Hello ! <br>My name is Tim Smith. 
                              I am an IT administrator and this is my story. 
                              
                        </p> 
                        </div><!--//content-->
                    </div><!--//section-inner-->  
                        </div>
                
                </div>
                
                <div class="row"  >
                    <div class="primary col-md-4 col-sm-12 col-xs-12">
                        
                        <div class="section-inner" style="margin-top: 10em;margin-left: 5em">
                        <div class="content">
                            <p>I monitor all the data centres through single sign-on application called Unity Dashboard. It gives me health status and related reports of all servers, networks and storage systems.
                        </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                             
                        </div>
                    
                     <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Timstory22.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                      </div>
                    
                </div>

                
                <div class="row" style="margin-left: -7em" >
                
                     <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Timstory33.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                        </div>
                    <div class="primary col-md-4 col-sm-12 col-xs-12">
                          
                        <div class="section-inner" style="margin-top: 10em;margin-right: 5em">
                        <div class="content">
                            <p>For last three months, few server reports are not in good health and need continuous attention and remediation. This has made my life difficult as I need to run reports everytime I reach office.
                        </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                             
                     </div>
                    
                </div>
                <div class="row"  >
                    
                <div class="primary col-md-4 col-sm-12 col-xs-12">
                
                    <div class="section-inner" style="margin-top: 10em;margin-left: 5em">
                        <div class="content">
                            <p>I need a way to autorun reports and get it delivered directly to my team’s mailbox daily, weekly or monthly so that I can take necessary actions in advance.
                        </p> 
                        </div><!--//content-->
                    </div><!--//section-inner-->
              
                     </div>
                     <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Timstory44.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                        </div>
                    
                </div>
                
                
                <div class="row" style="margin-top: 3em" >
                        
                        <div class="primary col-md-8 col-sm-12 col-xs-12">
                             
                        <div class="section-inner" style="margin-top: 5em;margin-left: 5em; padding: 2em; ">
                        <div class="content">
                           <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">PROBLEM STATEMENT</h3> 
                            <p>
                                <span style="font-weight:500; font-family: Raleway-SemiBold; ">How Might We</span> design an intuitive way to run the reports automatically at required intervals like daily,  weekly or monthly. <br>The report outcomes should be emailed to the team. <br>Make the whole process of scheduling simple, lightweight and consistent. 
                        </p> 
                        </div><!--//content-->
                    </div><!--//section-inner-->
                            
                        </div>
                         <div class="primary col-md-4 col-sm-12 col-xs-12">
                             <h3 class="title" style="font-weight:800; font-size: 4em; color:#E8E8E8">PROBLEM SPACE</h3>
                        </div>
                    </div>
                
                <div class="row" style="margin-left: -7em" >
                    
                <div class="primary col-md-1 col-sm-12 col-xs-12">
                    </div>
                     <div class="primary col-md-10 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/DesignThinking.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                        </div>
                    <div class="primary col-md-1 col-sm-12 col-xs-12">
                    </div>
                    
                </div>
                    
                 <div class="row" style="margin-top: 3em" >
                        
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                             
                        </div>
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                             
                        </div>
                         <div class="primary col-md-4 col-sm-12 col-xs-12">
                             <h3 class="title" style="font-weight:800; font-size: 4em; color:#E8E8E8">RESEARCH</h3>
                        </div>
                    </div>
                <div class="row"  >
                    
                <div class="primary col-md-4 col-sm-12 col-xs-12">
                
                    <div class="section-inner" style="margin-top: 10em;margin-left: 4em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">PRIMARY RESEARCH</h3>
                            <p>Multiple interactions with stakeholders and end users revealed useful insights about the context and the need of the scheduling autorun of reports. <br><br>Few insights were - 
                            
                        </p> 
                            <ul>
                                <li>Need of scheduled reports to ease the monitoring task as it keeps users from manually running when it’s critical.</li>
                                <br>
                                <li>Need of notification on the next run/next update so that users don’t miss on the critical updates.</li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
              
                     </div>
                     <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Discussion1.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                        </div>
                    
                </div>
                
                
                
                <div class="row" style="margin-top: 5em;" >
                    
                <div class="primary col-md-4 col-sm-12 col-xs-12">
                
                    <div class="section-inner" style="margin-top: 10em;margin-left: 4em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">SECONDARY RESEARCH</h3>
                            <p>Secondary research on implementation of schedulars in different scenarios was done and the study on the patterns available uncovered the findings mentioned below.
                        </p> 
                        </div><!--//content-->
                    </div><!--//section-inner-->
              
                     </div>
                     <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Mailbox.png" alt="OVGD" width="100%" height="auto" style="margin:auto">
                             
                        </div>
                    
                </div>
                
                
                <div class="row" style="margin-top: 5em;margin-left: -7em" >
                    
                    <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/SecResearch.png" alt="OVGD" width="100%" height="auto" style="margin:auto">
                             
                    </div>
                    <div class="primary col-md-4 col-sm-12 col-xs-12">
                
                    <div class="section-inner" style="margin-top: 10em;margin-right: 4em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">SECONDARY RESEARCH FINDINGS</h3>
                            <p>
                                1. One schedule per instance works best.
                                <br>
                                2. There are four fields to set the frequency -frequency type, specific frequencies, start time and end time.
                                <br>
                                3. Frequency selection options are hierarchically dependent.
                                <br>
                                4. . There could be almost  unlimited combinations of scheduling frequencies are possible, so instead of trying to cater for all needs, it should focus on the primary scenario.
                            </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
              
                     </div>
                </div>
                <div class="row" style="margin-top: 3em" >
                        
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                             
                        </div>
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                             
                        </div>
                         <div class="primary col-md-4 col-sm-12 col-xs-12">
                             <h3 class="title" style="font-weight:800; font-size: 4em; color:#E8E8E8">IDEATION</h3>
                        </div>
                    </div>
                
                <div class="row"  >
                    <div class="primary col-md-4 col-sm-12 col-xs-12">
                        
                        <div class="section-inner" style="margin-top: 10em;margin-left: 5em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">GENERATING IDEAS</h3>
                            <p>Out of six different solution approaches, two ideas primarily came out. 
                                <br>
                                1. Schedule of a report as an independent entity with all CRUD operations
                                <br>
                                2. Multiple schedules attached to a report with CRUD operations and a lifecycle.
                                <br>
                                3. Single schedule for each report with On/Off states.
                                <br>
                                4. Progressive disclosure for all scheduling options.
                        </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                             
                        </div>
                    
                     <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/ideation.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                      </div>
                    
                </div>
                <div class="row" style="margin-top: 3em" >
                        
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                             
                        </div>
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                             
                        </div>
                         <div class="primary col-md-4 col-sm-12 col-xs-12">
                             <h3 class="title" style="font-weight:800; font-size: 4em; color:#E8E8E8">PROTOTYPING</h3>
                        </div>
                    </div>
                
                <div class="row" style="margin-top: 5em;" >
                    
                    <div class="primary col-md-4 col-sm-12 col-xs-12">
                        
                        <div class="section-inner" style="margin-top: 10em;">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">INTERACTIVE WIREFRAMES</h3>
                            <p>
                               Quick idea sketches were translated into digital interactive interfaces for for testing and feedback. Sketch +invision mock-ups were also created for reviews. 
                            </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Proto2.png" alt="OVGD" width="100%" height="auto" style="margin-left:-7em">
                             
                    </div>
                    <div class="primary col-md-8 col-sm-12 col-xs-12">
                        <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Proto1.png" alt="OVGD" width="100%" height="auto" style="margin-right:-7em">
                    
              
                     </div>
                </div>
                
                <div class="row"  >
                    <div class="primary col-md-4 col-sm-12 col-xs-12">
                        
                        <div class="section-inner" style="margin-top: 10em;margin-left: 5em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">Report Listing Page</h3>
                            <p>The page has all the reports listed here which shows all the reports. Thegreen and grey represents scheduled and unscheduled reports respectively.

                        </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                             
                        </div>
                    
                     <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Proto3.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                      </div>
                    
                </div>
                <div class="row" style="margin-left: -7em" >
                    
                    <div class="primary col-md-8 col-sm-12 col-xs-12" style="margin-top: -10em;">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Proto4.png" alt="OVGD" width="100%" height="auto" style="margin:auto">
                             
                    </div>
                    <div class="primary col-md-4 col-sm-12 col-xs-12">
                
                    <div class="section-inner" style="margin-top: 10em;margin-right: 4em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">Report Instance of Server Inventory Report</h3>
                            <p>
                                The action items of a report includes the Schedule as an option.
                            </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
              
                     </div>
                </div>
                
                <div class="row"  >
                    <div class="primary col-md-4 col-sm-12 col-xs-12">
                        
                        <div class="section-inner" style="margin-top: 10em;margin-left: 5em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">Scheduled Dialog (Off)</h3>
                            <p>The scedule option is by default off initially with disabled controls, and can be toggled to turn it on.
                        </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                             
                        </div>
                    
                     <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Proto5.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                      </div>
                    
                </div>
                <div class="row" style="margin-left: -7em" >
                    
                    <div class="primary col-md-8 col-sm-12 col-xs-12" style="margin-top: -10em;">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Proto6.png" alt="OVGD" width="100%" height="auto" style="margin:auto">
                             
                    </div>
                    <div class="primary col-md-4 col-sm-12 col-xs-12">
                
                    <div class="section-inner" style="margin-top: 10em;margin-right: 4em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">Recurrent option for Schedules</h3>
                            <p>The repeat options reveal the corresponding fields later on selection using progressive disclosure method to keep it simple and minimal.
                            </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
              
                     </div>
                </div>
                <div class="row" style="margin-left: -7em" >
                    
                    <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Proto7.png" alt="OVGD" width="100%" height="auto" style="margin:auto">
                             
                    </div>
                    <div class="primary col-md-4 col-sm-12 col-xs-12">
                
                    <div class="section-inner" style="margin-top: 10em;margin-right: 4em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">Weekly Repeat Options</h3>
                            <p>Week has checkboxes to select days of the week to auto-run the report only on selected days.
                            </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
              
                     </div>
                </div>
                <div class="row"  >
                    <div class="primary col-md-4 col-sm-12 col-xs-12" >
                        
                        <div class="section-inner" style="margin-top: 10em;margin-left: 5em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">Daily Repeat Options</h3>
                            <p>No extra field is required for daily option, as it repeats sametime daily till it’s turned off.
                        </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                             
                        </div>
                    
                     <div class="primary col-md-8 col-sm-12 col-xs-12" style="margin-top: -10em;">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Proto8.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                      </div>
                    
                </div>
                
                
                <div class="row" style="margin-left: -7em" >
                    
                    <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Proto9.png" alt="OVGD" width="100%" height="auto" style="margin:auto">
                             
                    </div>
                    <div class="primary col-md-4 col-sm-12 col-xs-12">
                
                    <div class="section-inner" style="margin-top: 10em;margin-right: 4em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">Monthly Repeat Options</h3>
                            <p>A confirmation is shown after save or update. Similar to daily, monthly functions the same and runs at same time every month.
                            </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
              
                     </div>
                </div>
                
                
                <div class="row"  >
                    <div class="primary col-md-4 col-sm-12 col-xs-12" >
                        
                        <div class="section-inner" style="margin-top: 10em;margin-left: 5em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">Confirmation</h3>
                            <p>A confirmation is shown after save or update. The saved schedule is visible  below the report title with the icon.
                        </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                             
                        </div>
                    
                     <div class="primary col-md-8 col-sm-12 col-xs-12" style="margin-top: -10em;">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Proto10.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                      </div>
                    
                </div>
                
                
                <div class="row" style="margin-top: 3em" >
                        
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                             
                        </div>
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                             
                        </div>
                         <div class="primary col-md-4 col-sm-12 col-xs-12">
                             <h3 class="title" style="font-weight:800; font-size: 4em; color:#E8E8E8">USABILITY TESTING</h3>
                        </div>
                </div>
                
                <div class="row"  >
                    <div class="primary col-md-4 col-sm-12 col-xs-12" >
                        
                        <div class="section-inner" style="margin-top: 10em;margin-left: 5em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">PLANNING THE TEST</h3>
                            <p>Aimed at uncovering the usability issues and validation of few key design decisions, the usability test was planned with 5 app concepts to be validated, corresponding tasks and few follow-up questions.
                        </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                             
                        </div>
                    
                     <div class="primary col-md-8 col-sm-12 col-xs-12" >
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Test.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                      </div>
                    
                </div>
                
                <div class="row" style="margin-left: -7em" >
                    
                    <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Test2.png" alt="OVGD" width="100%" height="auto" style="margin:auto">
                             
                    </div>
                    <div class="primary col-md-4 col-sm-12 col-xs-12">
                
                    <div class="section-inner" style="margin-top: 10em;margin-right: 4em">
                        <div class="content">
                           
                            <p>A quick usability tesing was carried out to validate the solution and few key design decisions.
                            </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
              
                     </div>
                </div>
                
                 <div class="row"  >
                    <div class="primary col-md-4 col-sm-12 col-xs-12" >
                        
                        <div class="section-inner" style="margin-top: 10em;margin-left: 5em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">Valuable Insights</h3>
                            <p>The custom options for daily and weekly removed considering as edge cases. 
                            <br><br>
                            Auto selected current timestamp/days are easier and gives cues of valid inputs.
                            <br><br>
                            The idea of having only one schedule at a time works well for simplicity.
                        </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                             
                        </div>
                    
                     <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/test3.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                      </div>
                    
                </div>
                
                
                <div class="row" style="margin-left: -7em" >
                    
                    <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Test4.png" alt="OVGD" width="100%" height="auto" style="margin:auto">
                             
                    </div>
                    <div class="primary col-md-4 col-sm-12 col-xs-12">
                
                    <div class="section-inner" style="margin-top: 10em;margin-right: 4em">
                        <div class="content">
                           <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">A/B Testing</h3>
                            <p>A/B Testing to validate the placement of icons and other options in the interface using Hubspot.com.
                            </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
              
                     </div>
                </div>
                
                
                <div class="row" style="margin-top: 3em" >
                        
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                             
                        </div>
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                             
                        </div>
                         <div class="primary col-md-4 col-sm-12 col-xs-12">
                             <h3 class="title" style="font-weight:800; font-size: 4em; color:#E8E8E8">ICON CONCEPT</h3>
                        </div>
                </div>
                
                <div class="row" style="margin-left: -7em" >
                    
                    <div class="primary col-md-6 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Icon1.png" alt="OVGD" width="100%" height="auto" style="margin:auto">
                             
                    </div>
                    <div class="primary col-md-6 col-sm-12 col-xs-12">
                
                    <div class="section-inner" style="margin-top: 10em;margin-right: 4em">
                        <div class="content">
                           <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">ICON &amp; THE CONTEXT OF USAGE</h3>
                            <p>Designed a new icon for report sceduling option with consistent visual language of Grommet design system. 
                            </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
              
                     </div>
                </div>
                
                
                   <div class="row"  >
                    <div class="primary col-md-4 col-sm-12 col-xs-12" >
                        
                        <div class="section-inner" style="margin-top: 10em;margin-left: 5em">
                        <div class="content">
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#208C77;margin-top:1em;">3 States of the Icon</h3>
                            <p>Icon in grey shows that there are no saved schedules for the report, however it can be scheduled.
                            <br><br>
                            Icon in green shows that there is a saved schedule for the reports.
                            <br><br>
                            No Icon represents that the reports do not have an option to be scheduled.
                        </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                             
                        </div>
                    
                     <div class="primary col-md-8 col-sm-12 col-xs-12">
                          <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Icon2.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">
                             
                      </div>
                    
                </div>
                <div class="row">
                    <div class="primary col-md-2 col-sm-12 col-xs-12" >
                    </div>
                    <div class="primary col-md-8 col-sm-12 col-xs-12" >
                       <img class="img-responsive project-image" src="images/portfolio/OVGDAssets/Tags.png" alt="OVGD" width="100%" height="auto" style="margin:0 auto;">  
                    </div>
                    <div class="primary col-md-2 col-sm-12 col-xs-12" >
                    </div>
                    
                </div>
                
                    
                    
                    
                    
                    
            </div>
        </section>

