        <!-- 
        ================================================== 
            First Section Start
        ================================================== -->
        <section class="company-description" id="about_me">
            <div class="container" style="margin-right: 0;padding-right: 0">
                <section class="header">
                        
                    <div class="row">
                        <div class="primary col-md-6 col-sm-12 col-xs-12">
                        </div>
                        <div class="primary col-md-6 col-sm-12 col-xs-12">
                               <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/Decorative001.png" alt="Scholastic" width="100%" height="auto" style="margin:0 auto;">
                        </div>
                    </div>
                       <div class="row">
                        <div class="primary col-md-5 col-sm-12 col-xs-12" style="margin-top:1em; padding-top: 4em; ">
                            <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/Schol_Logo.png" alt="Scholastic" width="80%" height="auto" >
                            
                            <h3 class="title" style="font-weight:800; font-size: 2em; color:#FF0310;margin-top:1em; padding-top: 1em; ">Designing e-commerce platform</h3>
                            <p style="font-size: 1em; font-weight:300; padding-right: 2em;">
                                Scholastic is the world's largest publishers, distributors of children's books and a leader in educational technology. 
                                In addition to some most popular book series like Harry Potter Series and The Hunger Games, the company is well known for its school book clubs, book fairs, classroom magazines and educational technology programs. 
                            
                            </p>
                            <h3 class="title" style="font-family:Raleway-Black; font-size: 2em; color:#E8E8E8;margin-top:2em; padding-top: 2em; text-transform: uppercase ">PROJECT GOALS</h3>
                            
                            
                            
                        </div>
                        <div class="primary col-md-7 col-sm-12 col-xs-12">
                               <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/Scholastic_01.png" alt="Scholastic" width="100%" height="auto" style="margin-top:2em;">
                        </div>
                    </div>
                    
                     <div class="row">
                         <div class="primary col-md-8 col-sm-12 col-xs-12">
                               <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/processes.png" alt="Scholastic" width="100%" height="auto" style="margin-top:2em; margin-left: -6em">
                        </div>
                        <div class="primary col-md-4 col-sm-12 col-xs-12" style="margin-top:1em; padding-top: 4em; ">
                            
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#FF0310;margin-top:1em; padding-top: 1em; ">THE BACKGROUND</h3>
                            <p style="font-size: 1em; font-weight:300; padding-right: 2em;">
                                This one-year assignment was an initiative to ramp up the online sales and conversion. It also focussed on  engaging customers and guiding them to buy products and subscribe to the services.
                                <br>
                                As an individual contributor I also led the team of three with one front-end developer and two graphic designers. 
                            </p>
                        </div>
                    </div>
                    
                    <div class="row">
                         
                        <div class="primary col-md-4 col-sm-12 col-xs-12" style="margin-top:1em; padding-top: 4em; ">
                            
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#FF0310;margin-top:1em; padding-top: 1em; ">PROBLEM STATEMENT &amp; CHALLENGES</h3>
                            <p style="font-size: 1em; font-weight:300; padding-right: 2em;">
                                Transforming a content intensive web portal into an ecommerce application for consumers, book-distributors and wholesale retailers.
                                <br>
                                The challenges are as follows - 
                            </p>
                        </div>
                        <div class="primary col-md-8 col-sm-12 col-xs-12">
                               <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/Chalenges.png" alt="Scholastic" width="100%" height="auto" style="margin-top:2em;">
                        </div>
                    </div>
                    
                    <div class="row" style="margin-top:2em; margin-left: -10em;">
                        
                        <div class="primary col-md-8 col-sm-12 col-xs-12">
                               <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/DesignProcessIllustration.png" alt="Scholastic" width="90%" height="auto" >
                        </div>
                        
                        <div class="primary col-md-4 col-sm-12 col-xs-12" style="margin-top:1em; padding-top: 4em; ">
                            
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#FF0310;margin-top:1em; padding-top: 4em; ">DESIGN PROCESS</h3>
                            <p style="font-size: 1em; font-weight:300; padding-right: 2em;">
                                The project started with primary and exhaustive secondary research. All the information of this content intensive site was restructured. Then, the iterative prototyping was done followed by testing at the end of  each iteration.
                            </p>
                            <p><br><br></p>
                                <ol>
                                    <li>User and Market Research</li>
                                    <li>Competition Analysis</li>
                                    <li>Information Architecture</li>
                                    <li>Wireframes &amp; Prototypes</li>
                                    <li>Usability Testing</li>
                                </ol>
                            
                        </div>
               
                        
                    </div>
                    
                     <div class="row">
                         
                        <div class="primary col-md-4 col-sm-12 col-xs-12">
                            
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#FF0310;margin-top:8em; padding-top: 12em; ">RESEARCH</h3>
                            <p style="font-size: 1em; font-weight:300; padding-right: 2em;">
                                Limited feasibility to user research, the secondary research was reliable on the analytics data. The data analytics was designed in order to understand the users and derive meaningful insights out of it. 
                            </p>
                        </div>
                        <div class="primary col-md-8 col-sm-12 col-xs-12">
                               <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/Research1.png" alt="Scholastic" width="100%" height="auto" style="margin-top:-10em;">
                        </div>
                    </div>
                    
                    
                    <div class="row">
                         
                        <div class="primary col-md-8 col-sm-12 col-xs-12">
                               <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/CompetitionAnalysis.png" alt="Scholastic" width="100%" height="auto" style="margin-left:-6em;">
                        </div>
                        
                        <div class="primary col-md-4 col-sm-12 col-xs-12" >
                            
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#FF0310;margin-top:8em; padding-top: 8em; ">COMPETITION ANALYSIS</h3>
                            <p style="font-size: 1em; font-weight:300; padding-right: 2em;">
                                The online presence and performance of competitors were evaluated on different usabiity, content and overall experience parameters. The data was consolidated then to extract the positive and negative experiences.
                            </p>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                         
                        
                        
                        <div class="primary col-md-4 col-sm-12 col-xs-12" >
                            
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#FF0310;margin-top:8em; padding-top: 8em; ">INFORMATION ARCHITECTURE</h3>
                            <p style="font-size: 1em; font-weight:300; padding-right: 2em;">
                                The information peices were first grouped at high level, then chunked in the defined groups and the taxonomy was created. Hybrid card sorting was used to define the high level of groups using optimalworkshop studies.
                            </p>
                        </div>
                        
                        <div class="primary col-md-8 col-sm-12 col-xs-12">
                               <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/IA.png" alt="Scholastic" width="100%" height="auto" >
                        </div>
                        
                    </div>
                    <div class="row">
                         
                        <div class="primary col-md-8 col-sm-12 col-xs-12">
                               <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/Proto11.png" alt="Scholastic" width="100%" height="auto" style="margin-left:0em;">
                        </div>
                        
                        <div class="primary col-md-4 col-sm-12 col-xs-12" >
                            
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#FF0310;margin-top:8em; padding-top: 8em; ">WIREFRAMES &amp; PROTOTYPES</h3>
                            <p style="font-size: 1em; font-weight:300; padding-right: 2em;">
                                Interactive prototypes were created and tested. The iterative design appraoch refined the wireframes and improved the usability and experience.
                            </p>
                            <p><br><br></p>
                            <p>Landing/Home page - Focused on products, catalogs and easy global search to quickly start buying titles.</p>
                            
                        </div>
                        
                    </div>
                    
                    <div class="row">
                         
                        
                        
                        <div class="primary col-md-4 col-sm-12 col-xs-12" >
                            
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#FF0310;margin-top:8em; padding-top: 8em; ">FOCUS ON PRODUCTS</h3>
                            <p style="font-size: 1em; font-weight:300; padding-right: 2em;">
                                The information about products are segregated into categories and tagged with relevant subjects. 
                                <br>Sort and filter options are given to further focus on the user’s need and interest.
                            </p>
                            
                            
                        </div>
                        <div class="primary col-md-8 col-sm-12 col-xs-12">
                               <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/Productpage1.png" alt="Scholastic" width="100%" height="auto" style="margin-left:0em;">
                        </div>
                        
                    </div>
                    <div class="row">
                         
                        
                        <div class="primary col-md-8 col-sm-12 col-xs-12">
                               <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/Groups13.png" alt="Scholastic" width="100%" height="auto" style="margin-left:-8em;">
                        </div>
                        <div class="primary col-md-4 col-sm-12 col-xs-12" >
                            
                            <h3 class="title" style="font-weight:500; font-family: Raleway-SemiBold; font-size: 1em; color:#FF0310;margin-top:8em; padding-top: 8em; ">USABILITY TESTING</h3>
                            <p style="font-size: 1em; font-weight:300; padding-right: 2em;">
                                Key design decisions were exposed to usability testing and based on the outcomes, designs were revisited and iterated to improve the experience. 
                            </p>
                        </div>
                        
                        
                        
                    </div>
                    <div class="row">
                         
                        
                        <div class="primary col-md-2 col-sm-12 col-xs-12" >
                        </div>
                        <div class="primary col-md-8 col-sm-12 col-xs-12" >
                               <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/LastMsg1.png" alt="Scholastic" width="100%" height="auto">
                        </div>
                        <div class="primary col-md-2 col-sm-12 col-xs-12" >
                        </div>
                        
                        
                        
                    </div>
                      
                    
                    <div class="row">
                         
                        
                        <div class="primary col-md-2 col-sm-12 col-xs-12" >
                        </div>
                        <div class="primary col-md-8 col-sm-12 col-xs-12" >
                               <img class="img-responsive project-image" src="images/portfolio/ScholasticAssets/thnksmsg.png" alt="Scholastic" width="100%" height="auto">
                        </div>
                        <div class="primary col-md-2 col-sm-12 col-xs-12" >
                        </div>
                        
                        
                        
                    </div>
                    
                    
                    
                    
                    
                    </section>
            </div>
        </section>

